.homeContainer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.container{
    margin: auto;
    align-items: center;
    /*background-color: black;*/
}
/*
@media (max-width:768px) {
    .container{
        max-width: 768px;
    }   
}*/